{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'container/template.css' %}">
    <link rel="stylesheet" href="{% static 'store/styles.css' %}">
    <title>Document</title>
</head>

<body>
    <ul class="navigation">
        <li> <a href="{% url 'home' %}">Home</a> </li>
        <li class="active"> <a href="{% url 'store' %}"> Store </a> </li>
        <li> <a href="{% url 'cart' %}"> Cart </a> </li>
        <li> <a href="{% url 'info' %}"> Info </a> </li>

        <li>
            {% if logged_in == False %}
                <a href="{% url 'login' %}"> Login</a> 
            {% else %}
                <a href="{% url 'logout' %}"> Logout </a> 
            {% endif %}
        </li>
        
    </ul>

    
    <div class="parent-container">
        <div class="item-details-container">
            <h2 class="item-details-title">{{ row.1 }}</h2>
            <p class="item-details-description">{{ row.2 }}</p>
            <p class="item-details-price">${{ row.3 }}</p>
            <p class="item-details-stock">Current Stock: {{ row.4 }}</p>

            <p class="color-types">
                Colors: 
                {% for color in row.5 %}
                {{ color }}
                {% endfor %}
            </p>
            
            {% if row.4 >  0 %}
                <a href="{% url 'store' %}">GO BACK </a> <br>
                {% if logged_in == True %}
                    <a href="{% url 'add_to_cart' row.0 %}"> ADD TO CART </a>
                {% endif %}
            {% endif %}
        </div>
    </div>




</body>

</html>