{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'container/template.css' %}">
    <link rel="stylesheet" href="{% static 'info/styles.css' %}">
    <title>Document</title>
</head>

<body>
    <ul class="navigation">
        <li class="active">  <a href="{% url 'home' %}">Home</a> </li>
        <li> <a href="{% url 'store' %}"> Store </a> </li>
        <li> <a href="{% url 'cart' %}"> Cart </a> </li>
        <li> <a href="{% url 'info' %}"> Info </a> </li>
        
        <li>
            {% if logged_in == "False" %}
                <a href="{% url 'login' %}"> Login</a> 
            {% else %}
                <a href="{% url 'logout' %}"> Logout </a> 
            {% endif %}
        </li>
    </ul>

    {% if logged_in == "False" %}
        <h1> {{greeting}}! </h1>        
    {% else %}
        <h1> {{greeting}}, {{name}}!</h1>     
    {% endif %}

</body>

</html>