body
{
    background-color: rgba(128, 128, 128, 0.469);
}

.section-container
{
    display: flex;
   
    justify-content: center;
    flex-grow: 5;
}

.sub-section
{
    background-color: white; 
    flex-direction: row;
    border: 10px solid red;
    flex-basis: 100%;
}