

.container {
    width: 500px; /* Set the desired width */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.container input[type="text"],
.container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container input[type="checkbox"] {
    margin-top: 8px;
}

.container button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color:black; 
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.container button[type="submit"]:hover {
    background-color: white; 
    color: black;
}