{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'container/template.css' %}">
    <link rel="stylesheet" href="{% static 'cart/styles.css' %}">
    <title>Document</title>
</head>

<body>
    <ul class="navigation">
        <li >  <a href="{% url 'home' %}"> Home</a> </li>
        <li> <a href="{% url 'store' %}"> Store </a> </li>
        <li class="active"> <a href="{% url 'cart' %}"> Cart </a> </li>
        <li> <a href="{% url 'info' %}"> Info </a> </li>
        <li>
            {% if logged_in == False %}
                <a href="{% url 'login' %}"> Login</a> 
            {% else %}
                <a href="{% url 'logout' %}"> Logout </a> 
            {% endif %}
        </li>
    </ul>

    {% if rows|length == 0 %}
    <h1> NO ITEMS CURRENTLY IN CART </h1>
    {% else %}
    <ul class="items" style="padding-top: 50px;">
        {% for row in rows %}

        <li>
            <a href="{% url 'item' row.0 %}">
                <h2 class="item-title">{{ row.1 }}</h2>
                <p class="item-description">{{ row.2 }}</p>
                <p class="item-price">{{ row.3 }}</p>
                <p class="item-stock">Stock: {{ row.4 }}</p>

                <p class="color-types">
                    Colors: 
                    {% for color in row.5 %}
                    {{ color }}
                    {% endfor %}
                </p>
            </a>
        </li>

        {% endfor %}
    </ul>

    {% endif %}

</body>

</html>