{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'container/template.css' %}">
    <link rel="stylesheet" href="{% static 'log/styles.css' %}">
</head>

<body>


    <ul class="navigation">
        <li> <a href="{% url 'home' %}">Home</a> </li>
        <li> <a href="{% url 'store' %}"> Store </a> </li>
        <li> <a href="{% url 'cart' %}"> Cart </a> </li>
        <li> <a href="{% url 'info' %}"> Info </a> </li>
        <li class="active">
            {% if logged_in == False %}
            <a href="{% url 'login' %}"> Login/</a>
            
            <a href="{% url 'newUser' %}"> Create User </a>
            {% else %}
            <a href="{% url 'logout' %}"> Logout </a>
            {% endif %}
        </li>

        

    </ul>

    <div class="container">
        <h2> Sign-In </h2>
        <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}


        <label for="username">Username:</label>
        <input type="text" id="username" name="username">

        {% if state == "NoUser" %}
        <p class="error-message">Username does not exist!</p>
        {% endif %}

        <br> <br> 

        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        {% if state == "WrongPassword"%}
        <p class="error-message">Wrong password!</p>
        {% endif %}

        <br> <br> 
        <label for="remember">Remember me:</label>
        <input type="checkbox" id="remember" name="remember">
        <br>

        {% if state == "Error" %}
        <p class="error-message">Error </p>
        {% elif state == "AlreadyLoggedIn" %}
        <p class="error-message">Already Logged In, Sign out first! </p>
        {% endif %}

        <button type="submit">Login</button>
    </form>
    </div>

   


    
    {% if state == "Error" %}
        <p class="error-message">Error </p>
    {% elif state == "AlreadyLoggedIn" %}
        <p class="error-message">Already Logged In, Sign out first! </p>
    {% endif %}

</body>

</html>