{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>

<body>
    {% if state == "NotLoggedIn" %}
    <p>Logged out! </p>
   
        {% if from == "cart" %}
            <p>Press the Login button to view items in cart! </p>
        {% else %}
            <p>Press the Login button to sign back in! </p>
        {% endif %}
        
    <a href="{% url 'login' %}">Login Here! </a>

    {% endif %}
</body>

</html>